{% extends 'base.html.twig' %}

{% block title %}Created short url{% endblock %}

{% block body %}
    <a href="{{ url('redir', {url: url}) }}" target="_blank">{{ url('redir', {url: url}) }}</a>
{% endblock %}
